.button {
  padding: 12px 42px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50px;
  background-color: var(--color01);
  color: var(--color06);
  cursor: pointer;
  transition: all 0.2s;
}
.button:hover {
  background-color: var(--color05);
  color: var(--color02);
}
