.sidebar{
  width: 360px;
  padding: 40px;
  margin-right: 40px;
  border-radius: 16px;
  background-color: #fdfdfd;
  margin-top: 5px; 
}
.sidebar_image{
  height: 485px;
  border-radius: 8px;
  object-fit: cover;
}
.sidebar_item{
padding: 12px 0;
border-bottom: 1px solid #dadada;
cursor: pointer;
}