.dropdown_wrapper{
  position: absolute;
  top: -13px;
  display: flex;
  width: 0;
  border-radius: 12px;
  background-color: var(--color06);
 
  z-index: 2;
  transition: width 0.3s;
}
.dropdown_wrapper.active{
  width: 180px;
  padding: 16px 20px 16px 20px;
  box-shadow: 0 0 10px var(--color02);
}
.dropdown{
  width:0%;
  overflow: hidden;
}
.dropdown.active{
  width: 100%;
}
.dropdown_item{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--color01);
  cursor: pointer;
  transition: color 0.2s;
}
.dropdown_item:not(:last-child){
  margin-bottom: 24px;
}
.dropdown_item:hover{
  color:var(--color-accent)
}

@media(max-width:740px){
  .dropdown_wrapper{
    top: -4px;
  }
  .dropdown_wrapper.active{
    padding: 16px 20px;
    width: 130px;
  }
  .dropdown.active{
    width: 100%;
  }
  .dropdown_item{
   font-size: 12px;
  }
}